*/runs/
*/lef/
*/gds/
*/mag/
*/config*.tcl
*/base_config.tcl
!*/config.tcl
!*/script.tcl
*/run_*.json
*/run_*.tcl
*/matrix_*.json
*/*_config.json
*/*_config.tcl
/designs/ci/picorv32_base/runs/*
/designs/ci/test_sram_macro/runs/*